.contenair{
    display: flex;
    max-width: 1340px;
    margin: 0px auto;
    margin: 5% 0;
}
.name{

    width: 70%;
    text-align: right;
    font-family: var(--font-made);
    font-weight: 600;
    display: block;
    font-size: 8rem;
    line-height: 7.7rem;
    color: var(--black);
    text-transform: uppercase;
    font-family: var(--font-made);
    opacity: 1;
    margin-left: 10%;
}
.description{
    font-size: 16px;
    text-align:left;
    max-width: 30%;
    margin-left: 10px;
   margin-top: 250px; 
   text-align: center;  
}
@media screen and (max-width: 1024px) {
    .contenair{
        margin-top: 64px;
    }
   
    .name{
        font-size: 8.7rem;
        line-height: 8.7rem;

    }
    .description{
        text-align:left;
        margin-left: 60px;   
    }
    
}
@media screen and (max-width: 1000px) {
    .contenair{
        margin-top: 38px;
    } 
    .name{
        font-size: 7rem;
        line-height: 6.5rem;
    }
    .description{
        text-align:left 20px; 

    }
}

@media screen and (max-width: 800px) {
    .contenair{
        margin-top: 38px;
    } 
    .name{
        font-size: 6rem;
        line-height: 5.5rem;
    }
    .description{
        text-align:left;
        margin-left: 1rem;  
         
    }
    
}@media screen and (max-width: 720px) {
    .contenair{
       display: flex;
       flex-direction: column;
    } 
    .name{
        font-size: 5rem;
        line-height: 4.7rem;
        margin-left: 2rem;
        margin-left: 1rem;
 
    }
    .description{
        margin-top: 0px; 
        
    }
}

@media screen and (max-width: 680px) {

    .name{
        font-size: 5.rem;
        line-height: 4.7rem;
        margin-left: 0%;
        width: 70%;
        text-align: left;
        font-family: var(--font-made);
        font-weight: 600;
        display: block;
        margin-left: 3%;
    }
    .description{
        margin-top: 0px; 
        font-size: 14px;
        text-align:left;
        max-width: 400px;
        margin-left: 10px;
      
        
    }
}

