.contenair{
    display: flex;
    width: 100%;
    margin-top: 5%;
  
}
.name{
    font-size: 80px;
    margin-left: 7%;
}
.description{
   margin-right: 5%;
    width: 50%;
    margin-top: 17%;
}


@media screen and (max-width: 800px) {
    contenair{
       display: flex;
       flex-direction: column;
    
       
    }
    .name{
        font-size: 50px;
    }
}