.client{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.titreclient{
    display: flex;
    width: 100%;
}
.myclient{
    width: 60%;
    font-size: 4rem;
    border-right: 1px solid white;

}
.iconclient{
font-size: 20px;
width: 20%;
margin-top: 20%;
}