.contact{
    display: flex;
    width: 100%;
    margin: 0;
}
.formulaire{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.imgcontact{
    width: 50%;
    margin: 0;
}
/**__**/

.photocontact{
    margin-top: 0%;
}
.iconecontact{
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    margin-left: 10%;
    margin-right: 20%;
}
.titrecontact{
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 10%;
}
.form{
    display: flex;
    flex-direction: column;
}
.input{
    display: flex;
    flex-direction: column;
    margin: 5% 5% 15% 10%;
}
.input input{
   
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 2.4rem;
    color: var(--black);
    padding: 12px 28px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 30px;
    margin-bottom: 24px;
}
.input textarea{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black);
    padding: 12px 28px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 30px;
    margin-bottom: 0;
    height: 150px;
}
.buttoncontact{
    display: flex;
    flex-direction: row;
    height: auto;
}
.buttoncontact .boutonall:hover{
    background-color: black;
}
.butoncontact{
   border: none;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 500;
    height: 50px;
    font-size: 16px;
    border-radius: 50px;
    width: 250px;
    background-color: #6006d4; 
    margin-left: 20%;
    margin-bottom: 5%; 
}
.butoncontact:hover{
    background-color: black;
}