.titreportefoliodetail{
    text-align: center;
    font-size: 8rem;
    color: white;
    margin: 8% 0;

}
.headerportefolio{
    color: white;
}
.headerportefolio a{
    color: white;

}
/** realisation **/

.realisation{
    display: flex;
    width: 100%;
}
.realisationtitre{
    color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-top: 1px solid white;
}
.realisaticontireicone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  5% 10%;

}
.realisationtitre p{
margin: 0 10%;
}
.realisationprojet{
    color: white;
    width: 70%;
    border: 1px solid white;
}
/**_______**/

.divrealisationprojet{
    display: contents;
    flex-direction: column;
}
.titrerealisationprojet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listetitre{
    display: flex;
}
.listetitre {
color: white;
}
/**---**/

.realistiondetail{
    display: flex;
  
}
.realistiondetail img{
    margin-top: 0%;
   margin: 5%;
}
.realisationtexte{
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: space-between;
}
.realisationtext p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}
.realisationmobilap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.realisationmobilap div{
    margin-bottom: 5%;
}
