.service{
    display: flex;
    border-top: 1px solid rgba(21, 21, 21, 0.15); 
}
.service .portefolio1{
    width: 30%;
    border-right: 1px solid rgba(21, 21, 21, 0.15);
}
.mes-services{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.serviceinstuit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.serviceinstuit p{
     font-size: 2.4rem;
    line-height: 3.8rem;
    padding-bottom: 45px;
    margin: 5%;
    width: 700px;

}
.titreservice{
    font-size: 18px;
    color: #B7B7B7;
    font-family:  Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 40px 70px;
}
.autres-services{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.Servicep1{
   display: flex;
   flex-direction: column; 
   width: 70%;
   border-right: 1px solid rgba(21, 21, 21, 0.15);
}
.titicon{
    display: flex;
    margin: 40px 70px;
}
.icon{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
    
}
.servicep2{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.ecomerce{
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(21, 21, 21, 0.15);;

}
.paragrpheservice1{
    font-size: 13px;
    font-family:  Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 40px 70px;
    width: 200px;
}
.ecormercicon{
    display: flex;
    margin: 0px 70px;
    margin-top: 120px;
}
.servicep2{
    display: flex;
    flex-direction: column;
}
.blockchain{
display: flex;
margin-left: 70px;
margin-top: 180px;
}

@media screen and (max-width: 870px) {
  
    .serviceinstuit p{
        font-size: 2rem;
       line-height: 2.8rem;
       padding-bottom: 45px;
       margin: 5%;
       width: 500px;
   
   }  
}
@media screen and (max-width: 870px) {
  
    .service{
        display: flex;
        flex-direction: column;
        border-top: none; 
       
    }
    .service .portefolio1{
        height: auto;
        border: none;
    }
    .autres-services{
        display: flex;
        flex-direction: column;
       
    }
    .Servicep1 {
        
        width: 100%;
        border-right: none
}
.paragrpheservice1{
    font-size: 18px;
    width: 500px;
}
.blockchain{
    margin-top: 10px;
    }
    .ecormercicon{
        
        margin-top: 20px;
    }
    .serviceinstuit p{
        font-size: 2rem;
       line-height: 2.8rem;
       padding-bottom: 45px;
       margin:40px 70px;
       width: 500px;
   
   }  
   .service .portefolio1{
    margin: 40px 70px;
    border: none;
}
}