.video{
    width: 100vw;
    object-fit: cover;
    height: 60vh;
  

   
}
/* @media screen and (max-width: 780px) {
    .bloc{
    margin-top: 40px;
    height: 400px;
    }
    .bloc{
        margin-top: 20px;
        height: 200px;
        }
} */
