.video{
    width: 100%;
    object-fit: cover;
    height: 80vh;
    margin-top: -17%;
}
@media screen and (max-width: 780px) {
    .video{
        margin-top: -26%;;
    
    }
    
}
@media screen and (max-width: 425px) {
    .video{
        margin-top: -30%;;
    
    }
    
}